.button {
    border-radius: 10px;
    background: var(--linear, linear-gradient(270deg, #F00 0%, #FF8938 100%));
    padding: 18px;
}

.tea-bg {
    border-radius: 10px;
    background: linear-gradient(180deg, #F4F4F4 0%, rgba(244, 244, 244, 0.00) 100%);

}

p {
    color: #777777;
    font-weight: 600;
    font-size: small;
}

.red-box {

    border-radius: 10px;
    background: var(--linear, linear-gradient(270deg, #F00 0%, #FF8938 100%));
    height: 650px;
}
.w-420{
    width: 420px;
}